# Files/Folders to ignore when packaging the extension

# ignore vscode settings for extension development
.vscode/**

# ignore GitHub actions
.github/**

# ignore source files
src/**
out/src/test/**

# ignore development files
.gitignore
.vscodeignore
tsconfig.json
tslint.json
*.log
*.vsix
translations_auto_pr.js
gulpfile.js
vscode-extensions-localization-export/
vscode-translations-import/
i18n/
jobs/
build/
docs/
scripts/
