# This is a basic workflow to help you get started with Actions

name: CI - Linux

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          # Set this option if you want the action to check for the latest available version that satisfies the version spec
          check-latest: true

      - name: Install dependencies
        run: yarn install

      - name: Build the extension
        run: yarn compile-production

      - name: Run the tests
        uses: GabrielBB/xvfb-action@v1.4
        with:
          # Command to execute using xvfb
          run: yarn test
